# 🧠 Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 🗂️ Archivos del sistema
.DS_Store
Thumbs.db

# 📒 Checkpoints de notebooks
.ipynb_checkpoints/

# 📦 Modelos y outputs grandes
*.h5
*.hdf5
*.pkl
*.npy
*.npz
*.joblib
*.sav

# 📁 Directorios de datos y modelos (por si los crearas más adelante)
models/
outputs/
datasets/
data/
checkpoints/
logs/
